{% extends "index.html" %}

{% block mainpage %}
<article>
    <div class="container">
        <h1>О проекте</h1>
        <p class="font-weight-bolder">Cайт спроектирован и написан Владиславом Сайченко</p>
        <p class="font-weight-lighter">Технологии используемые на этом сайте:</p>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>HTML, CSS</li>
            <li>Heroku</li>
        </ul>
        <p class="font-weight-lighter"><a class="text-decoration-none"
                href="https://github.com/RichardAnderson8/WeatherApp">Ссылка</a> на
            репозиторий GitHub.</p>
    </div>
    <article>

        {% endblock %}